*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
legend{
    align-items: center;
    font-size: 40px;
    padding: 20px;
}
table{
    border: 2px solid black;
    padding: 12px;
    margin: 20px;
    font-weight: 800;
}
tr td{
    padding: 3px;
    font-size: 20px;
}
#name{
    height: 25px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
}
#email{
    height: 25px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
}
#pwd{
    height: 25px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
}
#phno{
    height: 25px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
}
#sbtn{
    width: 150px;
    height: 30px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
